/* heder begin */
header {
  padding: 20px 0;
  border-bottom: 1px solid #ff6336;
  background: url("../images/image1.svg");
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input[type=text],
input[type=tel],
input[type=email],
input[type=search],
input[type=password],
textarea {
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

textarea {
  resize: vertical;
  vertical-align: top;
}

button,
input[type=button],
input[type=reset],
input[type=file],
input[type=submit] {
  -webkit-appearance: none;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

b,
strong {
  font-weight: bold;
}

img {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  height: auto;
  border: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

textarea {
  overflow: auto;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-Semibold.eot");
  src: url("../fonts/GraphikLCG-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG-Semibold.woff2") format("woff2"), url("../fonts/GraphikLCG-Semibold.woff") format("woff"), url("../fonts/GraphikLCG-Semibold.ttf") format("truetype"), url("../fonts/GraphikLCG-Semibold.svg#GraphikLCG-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-Regular.eot");
  src: url("../fonts/GraphikLCG-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG-Regular.woff2") format("woff2"), url("../fonts/GraphikLCG-Regular.woff") format("woff"), url("../fonts/GraphikLCG-Regular.ttf") format("truetype"), url("../fonts/GraphikLCG-Regular.svg#GraphikLCG-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Graphik LCG";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  background: #fff;
  color: #000;
}

#wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.transform-wrap {
  border: 3px solid blue;
}

.transform {
  width: 600px;
  height: 600px;
  background: #000;
  position: relative;
  margin: 50px;
  color: #fff;
  padding: 50px;
}
.transform:after {
  content: "asfsdafdsaffdsaf";
  padding: 10px;
  background: green;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.transform:hover:after {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.filter {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.filter:hover {
  -webkit-filter: none;
          filter: none;
}

.smile {
  height: 300px;
  width: 300px;
  margin: 50px;
  background: blue;
  border-radius: 50%;
  position: relative;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.smile:after {
  content: "";
  height: 5px;
  width: 100px;
  background: yellow;
  display: block;
  position: absolute;
  bottom: 70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation-name: smile;
          animation-name: smile;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.smile .eye {
  height: 60px;
  width: 40px;
  border-radius: 50%;
  background: yellow;
  display: block;
  position: absolute;
  top: 60px;
  left: 70px;
}
.smile .eye.right {
  left: auto;
  right: 70px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.smile .eye.right:hover {
  -webkit-animation-name: eye;
          animation-name: eye;
}

.heading {
  padding: 50px;
  text-align: center;
}

@-webkit-keyframes eye {
  90% {
    -webkit-transform: none;
            transform: none;
  }
  95% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
}

@keyframes eye {
  90% {
    -webkit-transform: none;
            transform: none;
  }
  95% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
}
@-webkit-keyframes smile {
  90% {
    width: 100px;
  }
  95% {
    width: 150px;
  }
}
@keyframes smile {
  90% {
    width: 100px;
  }
  95% {
    width: 150px;
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: none;
            transform: none;
    margin: 0;
  }
  50% {
    -webkit-transform: translateX(300px) rotate(180deg);
            transform: translateX(300px) rotate(180deg);
  }
  100% {
    -webkit-transform: none;
            transform: none;
    margin: 0;
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: none;
            transform: none;
    margin: 0;
  }
  50% {
    -webkit-transform: translateX(300px) rotate(180deg);
            transform: translateX(300px) rotate(180deg);
  }
  100% {
    -webkit-transform: none;
            transform: none;
    margin: 0;
  }
}