// Variables
$black: #000;
$pink: #F13C6E;
$font-size-body: 40px;
$h1-font-size: 60px;
$padding: 60px;
$padding-x2: $padding * 2;

/* heder begin */
header {
    padding: 20px 0;
    border-bottom: 1px solid #ff6336;
    background: url('../images/image1.svg');
}
